nav {
    margin-bottom: 2em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

form {
    margin-bottom: 1.5rem !important;
    margin-top: 2rem !important;
}

.container.body-content {
    margin-top: 2.5rem !important;
}

ul {
    list-style: none !important;
}